.paypal {
    display: grid;
    gap: 20px;
}
.paypal-button-container {
    width: fit-content;
    margin: 0 auto;
}
.checkout-title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
  }
